os: osx
language: generic
before_install:
- brew update
- brew outdated python || brew upgrade python
install:
- pip3 install -r requirements.txt
script:
- python3 setup.py py2app
before_deploy:
- brew install p7zip
- 7za a V2Net.7z ./dist/V2Net.app
deploy:
  provider: releases
  api_key:
    secure: ${GH_TOKEN}
  file: "V2Net.7z"
  skip_cleanup: true
  on:
    repo: deepjia/v2net
    tags: true
