{
    "server":"{{ ServerAddress }}",
    "server_port":{{ ServerPort }},
    "local_port":{{ ExtensionPort }},
    "password":"{{ ServicePassword }}",
    "timeout":{{ Timeout }},{% if TFO in ('true','tfo=true') %}
    "fast_open":true,{% endif %}
    "method": "{{ EncryptionMethod }}"
}