{
    "server":"{{ ServerAddress }}",
    "server_port":{{ ServerPort }},
    "local_port":{{ ExtensionPort }},
    "password":"{{ ServicePassword }}",
    "timeout":{{ Timeout }},
    "fast_open":{{ TFO }},
    "method": "{{ EncryptionMethod }}"
}